<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.litestream.app">

    <!-- Needed to stream remote video URLs -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Not every low-end TV box has a touchscreen -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <application
        android:allowBackup="false"
        android:label="LiteStream"
        android:icon="@android:drawable/ic_media_play"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
        android:banner="@android:drawable/ic_media_play"
        android:hardwareAccelerated="true">

        <activity
            android:name="com.litestream.app.MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!-- Makes the app show up on Android TV home screens -->
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
